#### 1. Import pandas library

In [ ]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
users_table = pd.read_sql_query('SELECT * FROM users', engine)
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [5]:
users_table= users_table.rename(columns={'Id':'userId'})
users_table.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
posts_table = pd.read_sql_query('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_table=posts_table.rename(columns={"Id": "postId", "OwnerUserId": "userId"})
posts_table.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

# 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_df=users_table[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_df=posts_table[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
print(users_df)
print(posts_df)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
5           6         457    114       47          0
6           7         429     56       20          0
7           8        6764   1089      604         25
8          10         121     20        2          0
9          11         136     10       10          0
10         12         101     10        5          0
11         13         817    178       44          1
12         15          11      8        0          0
13         16         101      4        7          0
14         17         345     14       13          1
15         18         128      8       16          0
16         19         101     13        2          0
17         21         101      6        0          0
18         22         591     90      693          6
19         23         308     52       34          1
20         24         344     48       36          1
21         25        4968    641      328         23
22         26        3150    257      138          7
23         27         101     10        2          0
24         29        2250    318       28          1
25         30        2185    312       40          3
26         33         221     11        2          0
27         34         185     27       23          0
28         35         101      4        9          0
29         36        1570    173       26          1
...       ...         ...    ...      ...        ...
40295   55718           6      0        0          0
40296   55719           1      1        0          0
40297   55720           1      0        0          0
40298   55721         101      0        1          0
40299   55722           1      0        0          0
40300   55723           1      0        0          0
40301   55724          16      1        0          0
40302   55725           1      0        0          0
40303   55726           1      0        0          0
40304   55727           1      0        0          0
40305   55728           1      0        0          0
40306   55729          16      1        0          0
40307   55730           1      0        0          0
40308   55731           1      0        0          0
40309   55732         101      0        0          0
40310   55733           6      1        0          0
40311   55734           1      0        0          0
40312   55735           1      0        0          0
40313   55736           1      0        0          0
40314   55737           1      0        0          0
40315   55738          11      0        0          0
40316   55739           1      0        0          0
40317   55740           1      0        0          0
40318   55741         101      0        1          0
40319   55742           6      0        0          0
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]
       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
5           6    152      5.0    29229.0             5
6           7     76     38.0     5808.0             3
7           8      0     37.0      288.0             2
8           9     13     50.0        NaN             3
9          10     23     24.0    21925.0             4
10         11      2     34.0      224.0             2
11         12     20      5.0        NaN             1
12         13     14     23.0        NaN             4
13         14      5     36.0        NaN             1
14         15     13      6.0        NaN             0
15         16     16      8.0        NaN             3
16         17      9      NaN     1261.0             0
17         18     31     36.0        NaN             1
18         19     12     55.0        NaN             0
19         20      3     37.0        NaN             2
20         21      4     59.0      184.0             1
21         22    102     66.0    21916.0             1
22         23     10     69.0     7694.0             1
23         24     17     61.0        NaN             0
24         25      7     69.0     2095.0             4
25         26     18     75.0     3476.0            14
26         27      4     68.0        NaN             0
27         28      6      NaN        NaN             0
28         29      5     36.0        NaN             0
29         30      7     69.0      705.0             2
...       ...    ...      ...        ...           ...
91946  115346      0  42434.0        NaN             0
91947  115348      0  55564.0       18.0             3
91948  115350      0  55731.0        3.0             0
91949  115351      1   7331.0        9.0             0
91950  115352      0  55734.0       16.0             0
91951  115353      0   7290.0        NaN             0
91952  115354      2    805.0        NaN             0
91953  115355      3  35413.0       49.0             0
91954  115356      1  55733.0       15.0             0
91955  115357      1  44142.0        NaN             0
91956  115358      2   1569.0       15.0             0
91957  115360      2  55738.0       40.0             4
91958  115361      0  55383.0       12.0             1
91959  115362      2   7071.0        NaN             0
91960  115363      0   2676.0        NaN             0
91961  115364      0  52858.0       11.0             3
91962  115365     -1  28236.0        NaN             1
91963  115366      1  55742.0       17.0             0
91964  115367      1  41961.0       97.0             0
91965  115368      4  24808.0        NaN             0
91966  115369      4   6633.0        NaN             0
91967  115370      1  55744.0       13.0             2
91968  115371      0  35801.0       19.0             0
91969  115372      0  48579.0        NaN             9
91970  115373      0  48579.0        NaN             0
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
posts_users_df=users_df.merge(posts_df)
posts_users_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
missing_values = posts_users_df.isnull().sum()
missing_values

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
"""
I will clean them because they seem to offer 
little relevant information on dataset. 
If we cannot tell how many views the posts have, 
they are not sufficiently valuable.
"""

'\nI will clean them because they seem to offer \nlittle relevant information on dataset. \nIf we cannot tell how many views the posts have, \nthey are not sufficiently valuable.\n'

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
posts_users_df.drop(['View Count'], axis=1)
posts_users_df
#how can I solve this?

KeyError: "['View Count'] not found in axis"

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.